.section {
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
  height: calc(100% - 78px);
  background-color: #111;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.section .row {
  position: relative;
  width: 100%;
  display: flex;
  padding: 10px 0;
  white-space: nowrap;
  font-size: 4rem;
  transform-origin: bottom left;
  transform: rotate(-10deg);
}

.section .row svg {
  color: rgb(0, 0, 0, 0.5);
  transition: 1s;
  padding: 0 5px;
  user-select: none;
  cursor: default;
}

.section .row svg:hover {
  transition: 0s;
  color: #dfe336;
  text-shadow: 0 0 120px #dfe336;
}

.section .row.even div {
  animation: moveLeft 60s linear infinite;
  animation-delay: -60s;
}

.section .row.odd div {
  animation: moveRight 60s linear infinite;
  animation-delay: -60s;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
