.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #132f52;
}

.brand {
    margin-left: 0.5rem;
    font-family: var(--font-brand);
    font-size: 3.5rem;
}

.nav a {
    padding-inline: 8px;
    font-family: var(--font-sans);
}